assets/data/index/*
assets/data/chroma_db/*
assets/data/trulens_db/*
utils/__pycache__/*
utils/logs/*
core.*
.Rprofile
.bash_history
.cache/
.chainlit/
.ipython/
.jupyter/
.local/
.ollama/
.streamlit/
.vscode-server/
.vscode/
.wget-hsts

# need to keep these files to preserve folder structure
!.gitignore
!assets/data/index/.gitkeep
!assets/data/chroma_db/.gitkeep
!assets/data/trulens_db/.gitkeep
!utils/logs/.gitkeep


