.*
!.gitignore
!.project-metadata.yaml
!assets/data/
!*.log
community-amp-catalog-template.yaml
assets/data/chroma_db/*
assets/data/index/merging_index_0/default__vector_store.json
assets/data/index/merging_index_0/docstore.json
assets/data/index/merging_index_0/graph_store.json
assets/data/index/merging_index_0/image__vector_store.json
assets/data/index/merging_index_0/index_store.json
assets/data/index/merging_index_1/default__vector_store.json
assets/data/index/merging_index_1/docstore.json
assets/data/index/merging_index_1/graph_store.json
assets/data/index/merging_index_1/image__vector_store.json
assets/data/index/merging_index_1/index_store.json
assets/data/index/sentence_index1/default__vector_store.json
assets/data/index/sentence_index1/docstore.json
assets/data/index/sentence_index1/graph_store.json
assets/data/index/sentence_index1/image__vector_store.json
assets/data/index/sentence_index1/index_store.json
assets/data/index/sentence_index3/default__vector_store.json
assets/data/index/sentence_index3/docstore.json
assets/data/index/sentence_index3/graph_store.json
assets/data/index/sentence_index3/image__vector_store.json
assets/data/index/sentence_index3/index_store.json
utils/__pycache__/__init__.cpython-311.pyc
utils/__pycache__/configs.cpython-311.pyc
utils/__pycache__/llm_helper.cpython-311.pyc
utils/__pycache__/logging_config.cpython-311.pyc
utils/__pycache__/rag_helper.cpython-311.pyc
core.*
community-amp-catalog-template.yaml
.gitignore
